html, body{
    height: 100%;
}

body{
    padding: 2%;
}

ul {
    list-style: none;
    
}

.participants-list {
    padding: .5rem;
    margin: .5rem;
    background-color: transparent;
    border: 0;
    overflow-y: auto;
    max-height: 69vh;
    min-height: 25vh;
}

.chat-wrapper {
    margin-left: 1rem;
}    
.messages-wrapper{
    display: flex;
    flex-direction: column;
}

.chat-conversation{
    max-height: 85vh;
    min-height: 85vh;
    background-image: url('../img/Randomized-Pattern.svg');
    border: 0;
}
.message-list{
    overflow-y: auto;
    max-height: 67vh;
    min-height: 67vh;
    list-style: none;
    display: block;
    /* flex: 1; */
    
}

.message-row{
    flex-direction: row;
    display: flex;
    padding-bottom: 20px
}

.message-row img {
    max-height: 50px;
    margin-right: 20px;
    border-radius: 20px;
}

.message-username {
    font-weight: bold;
    padding-right: 10px;
}

.message-timestamp {

}

.message-message {
    /* width: 30px; */
    display: block;
    margin-left: 0;
}
.message-dialog {
    max-height: 70vh;
    min-height: 70vh;
}

.me {
    text-align: right;
    flex-direction: row-reverse;
}

 .me img {
    margin-left: 20px;
}

.online{
    color:rgb(19, 182, 19) 
}
.offline{
    color:red 
}
.button-close {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.nav-header{
    position: relative;
    display:inline;
    /* align-items: center; */
    max-width: 40vh;
    justify-content: space-between;
    background-color: #f8f9fa!important;
    /* display: flex; */
    
    /* flex-wrap: wrap; */
     padding: .5rem 1rem;
     /* height: 20vh; */
}

.form-input {
    padding-left: 5rem;
    padding-right: 5rem;
}
.div-pati {
    background-color: #f8f9fa!important;
}

